<nav class="navbar">
    <!-- LOGO -->

      <a href="index.html"><img src="/assets/images/logo.png" class="img-fluid" alt="logo" 
        style="max-width:100px;"></a>


    <div class="logo" ><span style="font-family:Rye;">JEDDAH</span>&nbsp;<span style="font-family: Pacifico;">TOURS & TRAVELS</span> </div>


    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->
        <div class="menu">

            <li><a href="/">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/">Contact</a></li>

            <!-- <li class="services">
          <a href="/">Services</a> -->

            <!-- DROPDOWN MENU -->
            <!-- <ul class="dropdown">
            <li><a href="/">Dropdown 1 </a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 3</a></li>
            <li><a href="/">Dropdown 4</a></li>
          </ul>

        </li> -->

        </div>
    </ul>
</nav>